.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  .loader-phone {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
  }
  .loader-pc {
    width: 70%;
    border-radius: 2%;
    margin: auto
  }
}
