@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    --marine-color: #AF514A;
    --marine-color-light: #DB7C8C;
    --spacing-med: 20px;
    --spacing-low: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    font-family: 'Kosugi', sans-serif;
    color: #c8f6e0;
}
a {
    text-decoration: none;
    color: #c8f6e0;
}
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 6px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .checkmark {
        position: absolute;
        top: -3;
        left: 0;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: #eee;
        &:after {
            content: '';
            position: absolute;
            display: none;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    &:hover {
        input ~ .checkmark {
            background-color: #ccc;
        }
    }
    input:checked ~ .checkmark {
        background-color: var(--marine-color);
        &::after {
            display: block;
        }
    }
    input {
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}
.slider-container {
    .slider {
        -webkit-appearance: none;
        background: #eeeeee;
        outline: none;
        -webkit-transition: .2s;
        transition: opacity .2s;
        width: fit-content;
        height: 10px;
        opacity: .7;
        border-radius: 5px;
        &:hover {
            opacity: 1;
        }
        &::-webkit-slider-thumb {
            background: var(--marine-color);
            -webkit-appearance: none;
            appearance: none;
            cursor: pointer;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
        &::-moz-range-thumb {
            background: var(--marine-color);
            cursor: pointer;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
}
.centered {
    display: flex;
    > * {
        margin: auto;
    }
}
@media (max-width: 768px)
{
    body {
        --spacing-med: 14px;
        --spacing-low: 8px;
    }
}
